.forgot {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfdfd;
}

.forgot-form {
    width: min(90%, 450px);
    border-radius: 1.5rem;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    background: #ffffff;
}

.forgot-form h1 {
    font-size: 28px;
    font-weight: 700;
    color: black;
}

.forgot-input {
    position: relative;
    width: 90%;
}

.forgot-input input {
    width: 100%;
    padding: 15px;
    font-size: 15px;
    border: 1.5px solid rgba(163, 0, 0, 0.246);
    border-radius: 5px;
    outline: none;
    background: transparent;
}

.forgot-input label {
    position: absolute;
    left: 12px;
    top: 14px;
    font-size: 16px;
    background-color: white;
    color: #2f3639a8;
    padding: 0 4px;
    transition: 0.2s ease;
    pointer-events: none;
}

.forgot-input input:focus + label,
.forgot-input input:not(:placeholder-shown) + label {
    top: -8px;
    font-size: 13px;
    color: rgb(119, 19, 10);
}

.forgot-input .icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(163, 0, 0, 0.4);
    font-size: 18px;
}

.forgot-btn {
    background-color: #1f2528;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 90%;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.forgot-btn:hover {
    background-color: #2f3639;
}

.success {
    color: green;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0;
}

.error {
    color: red;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0;
}

.login-text {
    font-size: 13px;
    color: gray;
}

.login-text span {
    color: rgba(0, 140, 255, 0.771);
    cursor: pointer;
    margin-left: 5px;
    text-decoration: underline;
}
