.forgot {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, #0a1418, #0b5975);
}

.forgot-form {
    width: min(90%, 450px);
    border-radius: 1.5rem;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    background: #f5f5f5bd;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.80);
    backdrop-filter: blur(4px) saturate(120%);
    -webkit-backdrop-filter: blur(4px) saturate(120%);
    border: 1px solid #0b5975;
    
}

.forgot-form h1 {
    font-size: 28px;
    font-weight: 700;
    color: black;
}

.forgot-input {
    position: relative;
    width: 90%;
}

.forgot-input input {
    width: 100%;
    padding: 15px;
    font-size: 15px;
    border: 1.5px solid rgba(11, 89, 117, 0.3);
    border-radius: 5px;
    outline: none;
    background: transparent;
    color: #1f2f38;
}

.forgot-input label {
    position: absolute;
    left: 12px;
    top: 14px;
    font-size: 16px;
    color: rgba(30, 30, 30, 0.5);
    padding: 0 4px;
    transition: 0.2s ease;
    pointer-events: none;
}

.forgot-input input:focus + label,
.forgot-input input:not(:placeholder-shown) + label {
    top: -21px;
    left:0px;
    font-size: 13px;
    color: #0b5975;
}

.forgot-input .icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(11, 89, 117, 0.5); 
    font-size: 18px;
}

.forgot-btn {
    background-color: #1f2528;
    font-size: 16px;
    background-color: #0b5975; 
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 40%;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.forgot-btn:hover {
   background-color: #0d6e90; 
}

.success {
    color: green;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0;
}

.error {
    color: red;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0;
}

.login-text {
    font-size: 13px;
    color: gray;
}

.login-text span {
    color: rgba(0, 140, 255, 0.771);
    cursor: pointer;
    margin-left: 5px;
    text-decoration: underline;
}
