.footer {
    width: 84vw;
    padding: 2rem 1rem;
    background: #ffffffe0;
    border-radius: 20px;
    box-shadow: 0 8px 16px -4px rgba(37, 8, 53, 0.06),
    0 -4px 8px -4px rgba(37, 8, 53, 0.04);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-logo {
    height: 6svh;
    transition: transform 0.3s ease;
}

.footer-logo:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.footer-copy {
    color: #8b7c94;
    font-size: 1rem;
}

.footer-divider {
    width: 100%;
    height: 1px;
    background-color: #cfcfcf;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    /*text-align: center;*/
    align-items: flex-start;
    justify-content: flex-start;
}

.footer-column h4 {
    font-size: 1.2rem;
    color: #220633;
}

.footer-column p {
    font-size: 1.1rem;
    color: #685c78;
    transition: text-decoration 0.2s;
    cursor: pointer;
}

.footer-column p:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-socials {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.footer-icon {
    font-size: 2.2rem;
    color: #333;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.footer-icon:hover {
    transform: scale(1.15);
    color: #5e45aa; /* accent color on hover */
}

.footer-legal {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.footer-legal button {
    all: unset;
    font-size: 1rem;
    color: #685c78;
    cursor: pointer;
    transition: text-decoration 0.2s;
}

.footer-legal button:hover {
    text-decoration: underline;
}

@media (max-width: 758px) {
    .footer-top, .footer-links, .footer-bottom {
        gap: 1.2rem;
        font-size: 1rem;
    }
    .footer-logo {
        height: 4svh;
    }
    .footer-icon, .footer-icon-big {
        width: 8vw;
    }
}
@media(max-width: 361px) {
    .footer-top, .footer-links, .footer-bottom {
        gap: 1rem;
        font-size: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .footer-logo {
        height: 4svh;
    }
    .footer-icon, .footer-icon-big {
        width: 1vw;
    }
    .footer-socials {
        gap: 2.2rem;
    }
}
