*{
    box-sizing: border-box;
}
.parent{
    margin:0px;
    padding: 0px;
     width:100%;
    height:auto;
    display: flex;
    flex-direction:column;

}
.sidebardetails{
    display: flex;
    flex-direction: row;
    width:100%;
    height:max-content;

}
.sidebar{
   width:26%;
    /* border:1px solid black; */
    height:83svh;
    display: flex;
    flex-direction: column;
    background-color: #E3EBF7;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5%;
 
    
}
.sidebarchild1{
    width:250px;
    height:fit-content;
    display: flex;
    flex-direction: column;
    gap:20px;
    
}
.sidebarchild2{
    width:250px;
    height:fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom:40px;
}


 /* side bar content */
.sideBarContent{
    font-size:1rem;
}


.parentIconDetails{
    width:99.9%;
    /* border:1px solid black; */
    overflow: hidden;
    
}

.parentIconDetails1{
    width:99.9%;
    /* border:1px solid black; */
    overflow: hidden;
    
}

.iconDetails{
    padding-left: 20px;
    width: 90%;
    height:40px;
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    /* border: 1px solid black; */
   
}
.logbtn{
    padding-left: 15px;
    height:44px;
     display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;;
    margin-left:20px;
    margin-bottom: 20px;
    width:50%;
    background-color: #FF3B30;
    border-radius: 7px;
    color:#FFFFFF;
    cursor: pointer;
   
}


.parentIconDetails:hover{
    /* background-color:#f0f0f0 ; */
    background-color: rgba(255, 255, 255, 0.6);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    

}
.dusericon{
    width:18px;
    height:18px;
    stroke-width: 1.5;
}
  










.profile-section{
    margin:0px;
    padding:0px;
    width:100%;
    height:100svh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    background-color:#F9FAFB;

}
.pprofile{
    /* border:1px solid black; */
    width:100%;
    height:140px;
    border-bottom:3px solid #9CA3AF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:50px;
    padding-bottom: 20px;
     padding-left: 17%;
     /* padding-right: 15%; */

}
.ppic{
    width:90px;
    height:90px;
    border-radius: 50%; 
    /* border: 1px solid black;   */

}
.pname{
    padding-top:30px;
    width:250px;
    /* border-bottom: 1px solid black;    */
    font-size: 2rem;
    font-weight: bold;
}

.details{
    width:100%;
    height:83svh;
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
    
}
.ggparent{
    padding-top: 30px;
    width:50%;
    height:100%;
    /* border:1px solid blue; */
    display: flex;
    flex-direction: column;
    gap:50px;
}
.dgrandparent{
    /* border:1px solid black; */
    padding-left:8%;
    width:100%;
    height:max-content;
    display:flex;
    gap:15px;
    flex-direction: column;
}
.dparent{
    display: flex;
    gap:3%;
}
.dinput{
    width:50%;
    height:auto;
}
.editInput{
    display: flex;
     align-items: flex-end;
    /* justify-content: end;  */
    width:85%;
    height:30px;
    /* border-bottom: 1px solid black; */
    font-size: 1rem;
    border:none;
    
}
.textDisplay{
    display:flex;
    align-items: flex-end;
    width:85%;
    height:30px;
    border-bottom: 1px solid black;
    font-size:1rem;
}
.dinfo{
    width:30%;
    height:30px;
    /* border:1px solid black; */
    display: flex;
    align-items:flex-end;
    /* justify-content: ; */
    font-size: 1rem;
}
.dicon{
    width:6%;
    height:30px;
    /* border:1px solid black; */
    display: flex;
    align-items: flex-end;
    justify-content:flex-start;
    cursor: pointer;
    
}
.savecancel{
    /* width:100%;
    height: max-content; */
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: center;
    /* align-items: center; */
    
}
.psave{
    width:50px;
    height:31px;
    font-size: 16px;
    text-align: center;
    padding:2px;
    background-color:#28a745;
    border:1px solid #28a745;
    color:white;
    border-radius:4px;
    cursor: pointer;
}
.pcancel{
    width:60px;
    height:31px;
    font-size: 16px;
    padding:2px;
   background-color:rgb(207, 203, 203);
   color:black;
   border:1px solid rgb(207, 203, 203);
   border-radius: 4px;
   cursor: pointer;
}
 .dicons{
    width:19px;
    height:19px;
    color:white;
    font-weight: bold;
    stroke-width: 1.5;
} 
.minfo{
    
    width:20%;
    height:30px;
    /* border:1px solid black; */
    display: flex;
    align-items:flex-end;
    /* justify-content: ; */
    font-size: 1rem;
    padding-left:10px;

}
.ggparent1{
    padding-top: 30px;
    padding-left: 35px;
    width:50%;
    height:100%;
    /* border:1px solid blue; */
    display: flex;
    flex-direction: column;
    gap:50px;
}
.Mred{
    color:red;
}
.active-side-element{
    /* background-color: rgba(255, 253, 253, 0.6); */
    background-color: #DBDBDB;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width:calc(100%-6%);
    padding-left: 8%;
    cursor: pointer;
}