.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: min(90%, 450px);
    border-radius: 1.5rem;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.login-form h1 {
    font-size: 28px;
    font-weight: 700;
    /*color: black;*/
}

.login-input {
    position: relative;
    width: 90%;
}

.login-input input {
    width: 100%;
    padding: 15px;
    font-size: 15px;
    border: 1.5px solid rgba(163, 0, 0, 0.246);
    border-radius: 5px;
    outline: none;
    background: transparent;
}

.login-input label {
    position: absolute;
    left: 12px;
    top: 14px;
    font-size: 16px;
    background-color: white;
    color: #2f3639a8;
    padding: 0 4px;
    transition: 0.2s ease;
    pointer-events: none;
}

.login-input input:focus + label,
.login-input input:not(:placeholder-shown) + label {
    top: -8px;
    font-size: 13px;
    color: rgb(119, 19, 10);
}

.login-actions {
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 13px;
    color: #555;
}

.login-actions > span {
    text-decoration: none;
    color: #000;
}

.login-actions > span:hover {
    text-decoration: underline;
}

.login-btn {
    background-color: #2f3639;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 90%;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.login-btn {
    background-color: #1f2528;
}

.register-text {
    font-size: 13px;
    /*color: gray;*/
}

.register-text span {
    color: rgba(0, 140, 255, 0.771);
    cursor: pointer;
    margin-left: 5px;
    text-decoration: underline;
}

.error {
    color: red;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0;
}

.login-input .icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(163, 0, 0, 0.4);
    font-size: 18px;
    cursor: pointer;
}
