

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

.mobile-register-div {
  width: 100svw;
  height: 100svh;
  position: relative;
  background-color: #f5f5f5;
}

.register-box {
  width: min(90%, 450px);
  height: max-content;
  position: absolute;
  background-color: #f5f5f5;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1.5rem;
  /* box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 30px 15px;
}

.register-box p span{
  color: rgba(0, 140, 255, 0.771);
  cursor: pointer;
}

.have-account{
  color: gray;
}

.l2{
  color: brown;
}



.mobile-register-input {
  color: white;
  position: relative;
  width: 90%;
  height:30px;
}

.mobile-register-input input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  font-size: 15px;
  border: 1.5px solid rgba(163, 0, 0, 0.246);
  border-radius: 5px;
  outline: none;
  background: none;
}

.mobile-register-input label {
  position: absolute;
  left: 12px;
  top: 14px;
  font-size: 16px;
  background-color: #f5f5f5;
  color: #2f3639a8;
  
  padding: 0 4px;
  transition: 0.2s ease;
  pointer-events: none;
}

.mobile-register-input input:focus + label,
.mobile-register-input input:not(:placeholder-shown) + label {
  top: -8px;
  font-size: 13px;
  
  color: rgb(119, 19, 10);
  
  
}
 .icon {
  position: absolute;
  right: 12px;
  top: 75%;
  transform: translateY(-50%);
  color:  rgba(163, 0, 0, 0.246);;
  cursor: pointer;
  
}
.mobile-register-input input:focus ~ .icon {
  color: #000000; 
}
.register-div h1 {
  color: white;
  font-weight: bold;
}
.mobile-register-div button {
  background-color: #2f3639;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  height: 40px;
  width: 90%;
  margin-top: 20px;
  border: none;
}
.mobile-register-div button:hover {
  cursor: pointer;
  
}


.passwd{
  color: red;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 0;

}

/* .register-box p {
  margin-bottom: 20px;
} */
